/* footer section starts */

.footer-section {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.footer-logo-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.footer-logo {
  margin: 0 auto;
  font-size: 3rem;
}

.footer-social {
  display: flex;
}

.footer-social-icon {
  width: 3.5em;
  margin: 0 0.5em;
  transition: 0.3s ease-out;
}

.footer-social-icon:hover {
  transform: translateY(-0.5em);
}

.footer-info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-subscribe-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: center;
}

.footer-subscribe-form {
  display: flex;
  height: 3em;
  width: 90%;
}

.footer-subscribe-input {
  height: 100%;
  width: 70%;
  padding: 0.5em;
  font-size: 1.3rem;
}

.footer-subscribe-btn {
  height: 100%;
  background-color: var(--secondary-color);
  padding: 0.5em 2em;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s color ease-out;
  margin-left: 0.2em;
}

.footer-subscribe-btn:hover {
  background-color: var(--tertiary-color);
  box-shadow: 3px 3px 10px rgba(0, 150, 100, 0.3);
}

/* tablet responsive starts */

@media only screen and (max-width: 768px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4em;
  }

  .footer-logo-section {
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 0.5em;
    font-size: 2.3rem;
    text-align: center;
  }

  .footer-social-icon {
    width: 4.5em;
    margin: 0 0.1em;
  }

  .footer-subscribe {
    align-items: center;
  }

  .footer-subscribe-title {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }

  .footer-subscribe-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .footer-subscribe-input {
    width: 100%;
    margin-bottom: 0.5em;
  }

  .footer-subscribe-btn {
    width: 85%;
    margin-left: 0;
  }
}

/* tablet responsive ends */

/* footer section ends */
